/* 인트로 랩박스 다 가리게만듬 */
.introwrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 111;
    background: white;
    opacity: 1;
}
.introwrap > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 인트로 랩박스안에있는 구성 다담은 박스 */
.introbx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
/* 그 박스 안에 있는 텍스트만 담은박스 */
.intro_textbx{
    text-align: center;
}
/* 인트로박스 안에 있는 이미지를 담은 박스 */
.intro_rmimgbx{
    width: 600px;
    height: 600px;
    min-width: 600px;
}
/* 위에 박스안에 든 이미지 */
.intro_rmimgbx img{
    width: 100%;
    height: 100%;
}
/* 인트로 박스 안에있는 버튼 */
.introbx  button{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid;
    border-radius: 35px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: black;
    color : black
}