.layout_header_ul{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 90px;
    align-items: center;
    background-color: black;
}
.layout_header_ul img{
    width: 100%;
    height: 100%;
}
.logo{
        width: 70px;
}
.menu{
    position: relative;
}
.menu button{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}
#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* 슬라이드사이드바 */
/* 슬라이드 겉박 */
.side{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.side ul{
    color : white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: translate(-50%,-50%);
    border: 1px solid silver;
    padding: 5% 5%;
    box-sizing: border-box;
}
.side ul li {
    font-size: 3vw;
    justify-content: space-around;
}
.side ul li div div:first-child{
    width: 50%;
}
.side ul li div div:last-child{
    width: 50%;
    text-align: right;
}
.flexbx{
    display: flex;
}
.side li:last-child{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
}
.txtbx{
    font-size: 1.5vw;
    margin: 2% 0;
}
.sogabtnbx{
    margin-top: 3%;
    display: grid;
            /* 가로방향 12그리드 셋팅 */
            grid-template-columns: repeat(3, 1fr);
            /* 세로방향 높이값 셋팅 */
            /* grid-template-rows:  */
            grid-row-gap: 15px;
            /* 좌우갭 */
            grid-column-gap: 10px;
}
.side button {
    color :white;
    background-color: transparent;
}
.descbx{
    margin-top: 3%;
    font-size: 2.2vw;
}

.xbtn{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 4vw;
    color: white;
    cursor: pointer;
}